%section.px-10.bg-white.dark:bg-gray-900
  .py-8.px-4.mx-auto.max-w-screen-xl.sm:py-16.lg:px-6
    .flex.flex-col.items-center.justify-center
      .max-w-screen-sm.mb-8.lg:mb-16.flex.flex-col.items-center.justify-center.text-center
        %h2.mb-4.text-4xl.tracking-tight.font-extrabold.text-gray-900.dark:text-white Why you should use Ruby on Rails in your next project?
        %p.text-gray-500.font-light.sm:text-xl.dark:text-gray-400 Why do the large companies find Ruby on Rails alluring? Let's find out the six most important reasons.
    .space-y-4.md:grid.md:grid-cols-2.lg:grid-cols-3.md:gap-12.lg:gap-8.md:space-y-0
      %div.card-hover-shadow
        %h3.mb-4.text-lg.font-semibold.dark:text-white Fast Development
        %p.leading-5.text-gray-500.text-sm.dark:text-gray-400 Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.
      %div.card-hover-shadow
        %h3.mb-4.text-lg.font-semibold.dark:text-white High level of security
        %p.leading-5.text-gray-500.text-sm.dark:text-gray-400 Protect your organization, devices and stay compliant with our structured workflows and custom permissions made for you.
      %div.card-hover-shadow
        %h3.mb-4.text-lg.font-semibold.dark:text-white It's simplicity
        %p.leading-5.text-gray-500.text-sm.dark:text-gray-400 Auto-assign tasks, send Slack messages, and much more. Now power up with hundreds of new templates to help you get started.
      %div.card-hover-shadow
        %h3.mb-4.text-lg.font-semibold.dark:text-white Out-of-the-box Industry Standards
        %p.leading-5.text-gray-500.text-sm.dark:text-gray-400 Audit-proof software built for critical financial operations like month-end close and quarterly budgeting.
      %div.card-hover-shadow
        %h3.mb-4.text-lg.font-semibold.dark:text-white Tools and Libraries
        %p.leading-5.text-gray-500.text-sm.dark:text-gray-400 Keep your company’s lights on with customizable, iterative, and structured workflows built for all efficient teams and individual.
      %div.card-hover-shadow
        %h3.mb-4.text-lg.font-semibold.dark:text-white Strong Community
        %p.leading-5.text-gray-500.text-sm.dark:text-gray-400 Craft beautiful, delightful experiences for both marketing and product with real cross-company collaboration.


