%section.py-20
  .grid.grid-cols-12.gap-12
    .col-span-5.sm:col-span-12.lg:col-span-5
      =image_tag "top-10-paid-jobs.png", class: 'rounded-lg'
    .col-span-7.sm:col-span-12.lg:col-span-7
      %h3.text-4xl.pb-3.font-bold.text-gray-900.md:text-3xl.lg:text-4xl.lg:leading-tight.dark:text-white  State of Ruby on Rails in 2023
      %p.mb-8.text-lg.font-light.text-gray-500.border-b.pb-6.dark:text-gray-400.dark:border-gray-700
        In 2023, Ruby on Rails has become an even more mature, since its initial release occurred 18 years ago.
        Though it's not as popular as it was back in the day, millions of developers still use it,
        let's find out why:
      %div.py-4
        .flex.flex-col.items-start
          .flex.items-start.justify-start
            .w-12.h-12.mr-4
              .flex.justify-center.items-center.rounded-full.bg-primary-100.lg:h-10.lg:w-10.dark:bg-primary-900
                %svg.w-5.h-5.text-primary-600.lg:w-6.lg:h-6.dark:text-primary-300{:fill => "currentColor", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M349.4 44.6c5.9-13.7 1.5-29.7-10.6-38.5s-28.6-8-39.9 1.8l-256 224c-10 8.8-13.6 22.9-8.9 35.3S50.7 288 64 288H175.5L98.6 467.4c-5.9 13.7-1.5 29.7 10.6 38.5s28.6 8 39.9-1.8l256-224c10-8.8 13.6-22.9 8.9-35.3s-16.6-20.7-30-20.7H272.5L349.4 44.6z"}
            %div
              %h3.text-xl.font-semibold.text-gray-800.dark:text-gray-200 
                Hotwire changed the game
              %p.text-gray-500.py-2.dark:text-gray-400 With the release of Rails 7 in September 2022, Hotwire matured a lot and made it easy to build interactive frontend. So now we can see more and more fullstack web apps fueled by Ruby.
      %div.py-4
        .flex.flex-col.items-start
          .flex.items-start.justify-start
            .w-12.h-12.mr-4
              .flex.justify-center.items-center.rounded-full.bg-primary-100.lg:h-10.lg:w-10.dark:bg-primary-900
                %svg.w-5.h-5.text-primary-600.lg:w-6.lg:h-6.dark:text-primary-300{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", :d => "M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z", "fill-rule" => "evenodd"}
                  %path{:d => "M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"}
            %div
              %h3.text-xl.font-semibold.text-gray-800.dark:text-gray-200  
                Renowned companies still uses RoR
              %p.text-gray-500.py-2.dark:text-gray-400 Ruby on Rails has been a go-to web framework for many years. Companies like Github, Twitter, Airbnb, Shopify, hulu, Dribble, Zendesk, Kickstarter, still uses Ruby on Rails for their production applications.
      %div.py-4
        .flex.flex-col.items-start
          .flex.items-start.justify-start
            .w-12.h-12.mr-4
              .flex.justify-center.items-center.rounded-full.bg-primary-100.lg:h-10.lg:w-10.dark:bg-primary-900
                %svg.w-5.h-5.text-primary-600.lg:w-6.lg:h-6.dark:text-primary-300{:fill => "currentColor", :viewbox => "0 0 320 512", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c10.6 1.6 42.1 6.7 55.1 10c17.1 4.3 27.5 21.7 23.2 38.9s-21.7 27.5-38.9 23.2c-9.3-2.4-37.6-7-48.9-8.7c-32.1-4.8-59.6-2.4-78.5 4.9c-18.3 7-25.9 16.9-27.9 28c-1.9 10.7-.5 16.8 1.3 20.6c1.9 4 5.6 8.5 12.9 13.4c16.2 10.8 41.1 17.9 73.3 26.7l2.8 .8c28.4 7.7 63.2 17.2 89 34.3c14.1 9.4 27.3 22.1 35.5 39.7c8.3 17.8 10.1 37.8 6.3 59.1c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.2-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.4 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.7 .5-16.8-1.3-20.6c-1.9-4-5.6-8.5-12.9-13.4c-16.2-10.8-41.1-17.9-73.3-26.7l-2.8-.8c-28.4-7.7-63.2-17.2-89-34.3c-14.1-9.4-27.3-22.1-35.5-39.7c-8.3-17.8-10.1-37.8-6.3-59.1C25 114.1 53 89.3 86 76.7c13-5 27.2-8.2 42-10V32c0-17.7 14.3-32 32-32z"}
            %div
              %h3.text-xl.font-semibold.text-gray-800.dark:text-gray-200  
                Comes in the list of 
                %span.text-rose-500 Top 5 Paid Technology
              %p.text-gray-500.py-2.dark:text-gray-400 
                %a.underline{target: "_blank", href: "https://survey.stackoverflow.co/2022/#section-top-paying-technologies-top-paying-technologies"} Stack Overflow reveals 
                the list of top paying technologies, where Ruby is in 5th place: with a median salary of $93,000 per  year. 
              