%section.px-10.bg-white.dark:bg-gray-900
  .py-8.px-4.mx-auto.max-w-screen-xl.sm:py-16.lg:px-6.lg:pt-2.lg:pb-20
    .flex.flex-col.items-center.justify-center
      .max-w-screen-sm.mb-8.lg:mb-16.flex.flex-col.items-center.justify-center.text-center
        %h2.mb-4.text-4xl.tracking-tight.font-bold.text-gray-900.dark:text-white Our Community Activities
        %p.text-gray-500.font-light.sm:text-xl.dark:text-gray-400 Learning alone can be boaring and sometime even frustrating.
        %p.text-gray-500.font-light.sm:text-xl.dark:text-gray-400 So, join our community and participate in the events and activities, to master Ruby on Rails together.
        -# %a.mt-8.inline-flex.justify-center.items-center.py-3.px-5.text-base.font-medium.text-center.text-white.rounded-lg.bg-primary-600.hover:bg-primary-800.focus:ring-4.focus:ring-primary-300.dark:focus:ring-primary-900{:href => "#"}
        -#   Join our community
        -#   %svg.ml-2.-mr-1.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
        -#     %path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}        
        .flex.flex-col.mt-8.mb-8.lg:mb-8.sm:flex-row.sm:justify-center.sm:space-y-0.sm:space-x-4
          %a.inline-flex.justify-center.items-center.py-3.px-5.text-base.font-medium.text-center.text-white.rounded-lg.bg-primary-600.hover:bg-primary-800.focus:ring-4.focus:ring-primary-300.dark:focus:ring-primary-900{:href => "#"}
            Join our community
            %svg.ml-2.-mr-1.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
              %path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
          %a.inline-flex.justify-center.items-center.py-3.px-5.text-base.font-medium.text-center.text-gray-900.rounded-lg.border.border-gray-300.hover:bg-gray-100.focus:ring-4.focus:ring-gray-100.dark:text-white.dark:border-gray-700.dark:hover:bg-gray-700.dark:focus:ring-gray-800{:href => "#"}
            -# %svg.ml-2.-mr-1.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            -#   %path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}            
            %svg.mr-2.-mr-1.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 448 512", :xmlns => "http://www.w3.org/2000/svg"}
              / ! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc.
              %path{:d => "M216.1 408.1C207.6 418.3 192.4 418.3 183 408.1L119 344.1C109.7 335.6 109.7 320.4 119 311C128.4 301.7 143.6 301.7 152.1 311L200 358.1L295 263C304.4 253.7 319.6 253.7 328.1 263C338.3 272.4 338.3 287.6 328.1 296.1L216.1 408.1zM128 0C141.3 0 152 10.75 152 24V64H296V24C296 10.75 306.7 0 320 0C333.3 0 344 10.75 344 24V64H384C419.3 64 448 92.65 448 128V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V128C0 92.65 28.65 64 64 64H104V24C104 10.75 114.7 0 128 0zM400 192H48V448C48 456.8 55.16 464 64 464H384C392.8 464 400 456.8 400 448V192z"}
            Plan an event


    .space-y-4.mt-4.mb-8.md:grid.md:grid-cols-2.lg:grid-cols-3.md:gap-12.lg:gap-8.md:space-y-0
      %div.flex.flex-col.items-center.px-4
        %svg.w-5.h-5.text-primary-600.lg:w-10.lg:h-10.dark:text-primary-300{:fill => "currentColor", :viewbox => "0 0 576 512", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"}
        %h3.mt-5.mb-3.text-xl.font-semibold.dark:text-white Webinars
        %p.leading-5.text-gray-500.text-base.text-center.dark:text-gray-400 TODO -> Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.
        %a.mt-6.text-sm.text-primary-600.font-medium.flex.items-center.hover:text-rose-500{href: "#!"} 
          Upcoming webinars
          %svg.ml-2.-mr-1.w-4.h-4{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}                        
      %div.flex.flex-col.items-center.px-4
        %svg.w-5.h-5.text-primary-600.lg:w-10.lg:h-10.dark:text-primary-300{:fill => "currentColor", :viewbox => "0 0 640 512", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"}
        %h3.mt-5.mb-3.text-xl.font-semibold.dark:text-white Workshops
        %p.leading-5.text-gray-500.text-base.text-center.dark:text-gray-400 TODO -> Protect your organization, devices and stay compliant with our structured workflows and custom permissions made for you.
        %a.mt-6.text-sm.text-primary-600.font-medium.flex.items-center.hover:text-rose-500{href: "#!"} 
          Upcoming workshops
          %svg.ml-2.-mr-1.w-4.h-4{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}                                
      %div.flex.flex-col.items-center.px-4
        %svg.w-5.h-5.text-primary-600.lg:w-10.lg:h-10.dark:text-primary-300{:fill => "currentColor", :viewbox => "0 0 640 512", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M506.1 127.1c-17.97-20.17-61.46-61.65-122.7-71.1c-22.5-3.354-45.39 3.606-63.41 18.21C302 60.47 279.1 53.42 256.5 56.86C176.8 69.17 126.7 136.2 124.6 139.1c-7.844 10.69-5.531 25.72 5.125 33.57c4.281 3.157 9.281 4.657 14.19 4.657c7.406 0 14.69-3.375 19.38-9.782c.4062-.5626 40.19-53.91 100.5-63.23c7.457-.9611 14.98 .67 21.56 4.483L227.2 168.2C214.8 180.5 207.1 196.1 207.1 214.5c0 17.5 6.812 33.94 19.16 46.29C239.5 273.2 255.9 279.1 273.4 279.1s33.94-6.813 46.31-19.19l11.35-11.35l124.2 100.9c2.312 1.875 2.656 5.251 .5 7.97l-27.69 35.75c-1.844 2.25-5.25 2.594-7.156 1.063l-22.22-18.69l-26.19 27.75c-2.344 2.875-5.344 3.563-6.906 3.719c-1.656 .1562-4.562 .125-6.812-1.719l-32.41-27.66L310.7 392.3l-2.812 2.938c-5.844 7.157-14.09 11.66-23.28 12.6c-9.469 .8126-18.25-1.75-24.5-6.782L170.3 319.8H96V128.3L0 128.3v255.6l64 .0404c11.74 0 21.57-6.706 27.14-16.14h60.64l77.06 69.66C243.7 449.6 261.9 456 280.8 456c2.875 0 5.781-.125 8.656-.4376c13.62-1.406 26.41-6.063 37.47-13.5l.9062 .8126c12.03 9.876 27.28 14.41 42.69 12.78c13.19-1.375 25.28-7.032 33.91-15.35c21.09 8.188 46.09 2.344 61.25-16.47l27.69-35.75c18.47-22.82 14.97-56.48-7.844-75.01l-120.3-97.76l8.381-8.382c9.375-9.376 9.375-24.57 0-33.94c-9.375-9.376-24.56-9.376-33.94 0L285.8 226.8C279.2 233.5 267.7 233.5 261.1 226.8c-3.312-3.282-5.125-7.657-5.125-12.31c0-4.688 1.812-9.064 5.281-12.53l85.91-87.64c7.812-7.845 18.53-11.75 28.94-10.03c59.75 9.22 100.2 62.73 100.6 63.29c3.088 4.155 7.264 6.946 11.84 8.376H544v175.1c0 17.67 14.33 32.05 31.1 32.05L640 384V128.1L506.1 127.1zM48 352c-8.75 0-16-7.245-16-15.99c0-8.876 7.25-15.99 16-15.99S64 327.2 64 336.1C64 344.8 56.75 352 48 352zM592 352c-8.75 0-16-7.245-16-15.99c0-8.876 7.25-15.99 16-15.99s16 7.117 16 15.99C608 344.8 600.8 352 592 352z"}
        %h3.mt-5.mb-3.text-xl.font-semibold.dark:text-white Meetups
        %p.leading-5.text-gray-500.text-base.text-center.dark:text-gray-400 TODO -> Auto-assign tasks, send Slack messages, and much more. Now power up with hundreds of new templates to help you get started.
        %a.mt-6.text-sm.text-primary-600.font-medium.flex.items-center.hover:text-rose-500{href: "#!"} 
          Upcoming meetups
          %svg.ml-2.-mr-1.w-4.h-4{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}                              