%section.my-8.bg-primary-600.border-y.border-primary-100.dark:bg-primary-700.dark:border-primary-800
  .container.mx-auto.px-20.py-20.flex.flex-col.items-center
    
    %h2.mb-4.text-2xl.tracking-tight.text-primary-200
      %span railsmojo 
      %span.font-slim is on a mission..
    %p.text-3xl.mb-4.font-semibold.text-center.text-primary-50.dark:text-gray-100 ..to grow and build a community of next generation tech enthusiasts, who wants to learn Ruby on Rails.
