%section
  .py-8.px-4.mx-auto.max-w-screen-xl.text-center.lg:py-16.lg:px-12
    %a.inline-flex.justify-between.items-center.py-1.px-1.pr-4.mb-7.text-sm.text-gray-700.bg-gray-100.rounded-full.dark:bg-gray-800.dark:text-white.hover:bg-gray-200.dark:hover:bg-gray-700{:href => "#", :role => "alert"}
      %span.text-xs.bg-primary-600.rounded-full.text-white.px-4.mr-3{:class => "py-1.5"} New
      %span.text-sm.font-medium All guides are compatible with Rails 7.0.4! See what's new
      %svg.ml-2.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
        %path{"clip-rule" => "evenodd", :d => "M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z", "fill-rule" => "evenodd"}
    .flex.flex-col.space-y-4.sm:flex-row.sm:justify-center.sm:space-y-0.sm:space-x-4
      %h1.max-w-4xl.mb-4.text-center.text-4xl.font-extrabold.tracking-tight.leading-tight.text-gray-900.md:text-5xl.lg:text-7xl.lg:leading-tight.dark:text-white 
        -# A next generation of Rails community
        Learn to build web apps in Ruby on Rails - for free
    %p.mb-8.text-base.font-normal.text-gray-500.lg:text-lg.sm:px-16.xl:px-48.dark:text-gray-400 
      -# Helping the next generation of tech enthusiasts to learn Ruby on Rails.
      -# Learn to build web apps in Ruby on Rails - for free. Whether your app is simple or complex, go through our vast set of `How to...?` guides and solve it in no-time.
      %b railsmojo 
      -# is a Rails community focused to grow the next generation tech enthusiasts, who wants to learn Ruby on Rails. 
      -# Explore our vast set of `How to` guides and solve your simple or complex use-cases effortlessly.
      is on a mission to grow and build a community of next generation tech enthusiasts, who wants to learn Ruby on Rails.
      Starting from simple day-to-day use cases to the complex ones, we've got everything you need.
    .flex.flex-col.mb-8.lg:mb-16.space-y-4.sm:flex-row.sm:justify-center.sm:space-y-0.sm:space-x-4
      %a.inline-flex.justify-center.items-center.py-3.px-5.text-base.font-medium.text-center.text-white.rounded-lg.bg-primary-600.hover:bg-primary-800.focus:ring-4.focus:ring-primary-300.dark:focus:ring-primary-900{:href => "#"}
        Get started with Rails (it's free)
        %svg.ml-2.-mr-1.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
      %a.inline-flex.justify-center.items-center.py-3.px-5.text-base.font-medium.text-center.text-gray-900.rounded-lg.border.border-gray-300.hover:bg-gray-100.focus:ring-4.focus:ring-gray-100.dark:text-white.dark:border-gray-700.dark:hover:bg-gray-700.dark:focus:ring-gray-800{:href => "#"}
        -# %svg.mr-2.-ml-1.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
        -#   %path{:d => "M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"}
        Join our community
%section
  .grid.grid-flow-col.grid-rows-2.grid-cols-7.gap-4
    .card.row-span-2.col-span-3
      .flex.flex-col.items-center.justify-center.py-10
        =image_tag "rails-logo.png", class: 'w-24 py-8'
        %h1.text-6xl.font-bold.py-2 Rails 7
        %p.text-gray-700.text-sm.dark:text-gray-400.max-w-sm.text-center
          The latest and greatest release of Ruby on Rails
        %p.mt-8.py-4.text-gray-500.dark:text-gray-400.max-w-sm.text-center
          It packs some amazing new tech like: Hotwire, Turbo, Stimulus, importmap and more.
        %a.btn-rounded.my-8.text-base.flex.hover:bg-primary-600.hover:text-white.dark:hover:bg-primary-600.dark:hover:text-white{:href => "#"}
          Get Started
          %svg.ml-2.-mr-1.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{"clip-rule" => "evenodd", :d => "M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
    .card.col-span-1.col-span-2
      .flex.justify-center.items-center.mb-4.w-10.h-10.rounded-full.bg-primary-100.lg:h-12.lg:w-12.dark:bg-primary-900
        %svg.w-5.h-5.text-primary-600.lg:w-6.lg:h-6.dark:text-primary-300{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", :d => "M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z", "fill-rule" => "evenodd"}
      %h3.mb-2.text-xl.font-bold.dark:text-white 
        %span.text-emerald-500	
          Day-to-day 
        Use Cases
      %p.text-gray-500.dark:text-gray-400 Practical step-by-step guides to help you achieve a specific goal. Most useful when you're trying to get something done.
    .card.row-span-1.col-span-2
      %h2.text-xl.font-bold.py-2 Conceptual Guides
      %p.mt-4.py-4.text-gray-500.dark:text-gray-400.max-w-sm.text-center
        It packs some amazing new tech like: Hotwire, Turbo, Stimulus, importmap and more
    .card.row-span-1.col-span-2
      %h2.text-xl.font-bold.py-2 Advance Use Cases
      %p.mt-4.py-4.text-gray-500.dark:text-gray-400.max-w-sm.text-center
        It packs some amazing new tech like: Hotwire, Turbo, Stimulus, importmap and more
    .card.col-span-1.col-span-2
      %h2.text-xl.font-bold.py-2 Best Practices
      %p.mt-4.py-4.text-gray-500.dark:text-gray-400.max-w-sm.text-center
        It packs some amazing new tech like: Hotwire, Turbo, Stimulus, importmap and more        



      

    

%section.bg-white.dark:bg-gray-900
  .py-8.px-4.mx-auto.max-w-screen-xl.lg:py-16.lg:px-6
    .max-w-screen-lg.text-gray-500.sm:text-lg.dark:text-gray-400
      %h2.mb-4.text-4xl.tracking-tight.font-bold.text-gray-900.dark:text-white
        Powering innovation at
        %span.font-extrabold 200,000+
        companies worldwide
      %p.mb-4.font-light Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.
      %p.mb-4.font-medium Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease.
      %a.inline-flex.items-center.font-medium.text-primary-600.hover:text-primary-800.dark:text-primary-500.dark:hover:text-primary-700{:href => "#"}
        Learn more
        %svg.ml-1.w-6.h-6{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", :d => "M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z", "fill-rule" => "evenodd"}

